*{
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 10px
}

p{
  font-family: 'Merriweather', serif;
  color: black;
}

footer {
  text-align: center;
  padding: 4px;
  color: black;
  background-color: white;
}

body{
  background-color: #e5e5e5;
}
container-fluid{
  background-color: black;
}
}
.row{
  background-image: url("cafe.jpg");
}
.mid{
  background-color: red;
}
.p1{
  background-color: #edf6f9;
  text-align: left;
  line-height: 2;
}
.p2{
  text-align: left;
  line-height: 2;
}

}

.tab{
  margin: 0;
  padding: 0;
}
